body{
  background-color:#f4f4f4;
  color:#555;
  font-family:Impact, Charcoal, sans-serif;
  font-size:16px;
  line-height:1.6em;
  margin:0;
}

.container{
  width:%80;
  margin:auto;
  overflow:hidden;
}

#main-header{
  padding:10px;
  background-color:#30A9BF;
  color:#fff;
  font-style:italic;
  letter-spacing: 2px;
}

#navbar{
  padding-left:5px;
  background-color:#333;
  color:#fff;
}

#navbar ul{
  padding:0;
  list-style:none;
}

#navbar li{
  display:inline;
}

#navbar a{
  color:#fff;
  text-decoration:none;
  font-size:18px;
  padding-right:15px;
}

#navbar a:hover{
  color:#30A9BF
}

#navbar audio{
  height:22px;
  float: right;
  padding-right:10px;
}

#showcase{
  background-image:url('../images/space.jpg');
  background-position:center;
  background-size:1800px;
  min-height:300px;
  margin-bottom:30px;
  text-align:center;
}

#showcase h1{
  color:#fff;
  font-size:50px;
  line-height:1.6em;
  padding-top:30px;
}

#main{
  float:left;
  width:70%;
  padding:0 30px;
  box-sizing:border-box;
  white-space:pre-line;
}

#sidebar{
  float:right;
  width:30%;
  background:#333;
  color:#fff;
  padding:10px;
  box-sizing:border-box;
}

#main-footer{
  background:#333;
  color:#fff;
  text-align:center;
  padding:1px;
  margin-top:10px;
  line-height:8px;
  font-size:15px;
}

@media(max-width:600px){
  #main{
    width:100%;
    float:none;
  }
  #sidebar{
    width:100%;
    float:none;
  }
}
